{% extends "base.html" %}

{% block windowtitle %}
	关于 MGNT.me
{% endblock%}
{% block container %}
<div class="row">
  <div class="span12">
    <h3>关于 MGNT.me</h3>
  </div>
</div>	
<div class="row">
  <div class="span12">
	<h4>关于本站</h4>
	<p>玛格磁力搜索(MGNT.me)致力于给用户提供一个开放、自由的互联网资源分享、搜索平台，本站不保存任何与资源有关的文件，所有资源均索引自互联网。</p>
	<div class="verticle"></div>
  </div>
</div>
<div class="row">
  <div class="span12">
	<h4>关于本站的资源</h4>
	<p>本站所有资源信息均从互联网搜索而来，本站不对显示的内容承担责任。本站也不保存有任何可直接下载的文件。</p>
	<p>本站的云播放功能仅用于带宽测试，本站不保存任何影视文件，所有影视文件均由迅雷网络提供。</p>
	<p>本站为非盈利性网站，请勿将本站资源用于商业用途。</p>
  </div>
</div>
<div class="row">
  <div class="span12">
	<h4>感谢</h4>
	<p>感谢以下开源平台和产品</p>
	<ul>
		<li>Python</li>
		<li>Flask</li>
		<li>Bootstrap</li>
		<li>Torrent Project</li>
	</ul>
  </div>
</div>
<div class="row">
  <div class="span12">
	<h4>联系信息</h4>
	<p>如有任何问题请与 mgnt.me#gmail.com(将#换成@) 联系。
  </div>
</div>
{% endblock%}