{% extends "base.html" %}

{% block windowtitle %}
	Torrent转磁力链接
{% endblock%}
{% block container %}
<div class="row">
  <div class="span12">
    <h3>Torrent转磁力链接</h3>
  </div>
</div>
<div class="row" style="height:38px;">
	<div class="span12">
		<div class="jiathis_style_32x32">
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_renren"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_qzone"></a>
			<a class="jiathis_button_fb"></a>
			<a class="jiathis_button_twitter"></a>
			<a class="jiathis_button_googleplus"></a>
			<a class="jiathis_button_tumblr"></a>
			<a href="http://www.jiathis.com/share?uid=906036" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
		</div>
	</div>
</div>
<hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-error" style="margin-top:10px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for message in messages %}
    	{{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if item %}
<div class="row" style="margin-top:6px;">
  <div class="span12">
    <script type="text/javascript"><!--
	google_ad_client = "ca-pub-5514094937222077";
	/* mgnt-search-list-top */
	google_ad_slot = "8276108951";
	google_ad_width = 728;
	google_ad_height = 15;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
  </div>
</div>
<div class="row">
  <div class="span12">
	<div class="alert alert-success" style="margin-top:10px;">
		<p class="myblock"></p>
		<h4>恭喜！转换成功！您可以将它复制到相应软件下载或与好友分享了~</h4>
		<p><small>磁力特征值：{{item.hashid}}</small></p>

		<p><span class="label label-success"><i class="icon-magnet icon-white"></i> 磁力链接地址</span><small>（可直接复制到相应客户端下载，或者点击下面的下载按钮）：</small></p>
		<textarea rows="6" id="maglink" onMouseOver="SelectAll('maglink')" style="width:100%">{{item.maglink}}</textarea>
		<p>
    		<span class="label label-success"><i class="icon-magnet icon-white"></i> 我们还为您生成了本磁力链的短网址：</span>
    		<input type="text" style="width:21%;margin:-2px 0 0 2px;color:black;" value="{{item.short_link}}" id="short_link" onMouseOver="SelectAll('short_link')">
    		<small><a href="{{item.short_link}}">点击打开</a></small>
    	</p>
		<h4>您还可以云播放这个文件：</h4>
		<p class="myblock"></p>
	   	<div>
	    	<a href="{{item.maglink}}" class="btn btn-danger"><i class="icon-magnet icon-white"></i> 磁力链接下载 </a>
	    	<a href="{{item.vodlink}}" class="btn btn-danger" target="_blank"><i class="icon-play icon-white"></i> 云播放(Beta) </a>
	    	
	    </div>
	    <p class="myblock"></p>
	   	<h4>或下载这个文件：</h4>
	   	<p class="myblock"></p>
	   	<div>
	    	<a href="{{item.maglink}}" class="btn btn-primary"><i class="icon-download-alt"></i> 迅雷下载 </a>
	    	<a href="{{item.maglink}}" class="btn btn-success"><i class="icon-download-alt"></i> QQ旋风下载 </a>
	    	<a href="http://torrage.com/torrent/{{item.hashid | upper}}.torrent" class="btn btn-warning"><i class="icon-download-alt"></i> 下载BT种子 </a>
	    </div>
	    <p class="myblock"></p>
	</div>
  </div>
</div>	
{% endif %}

<div class="row">
  <div class="span12">
  	<p>请选择种子文件，然后点击转换按钮稍等片刻即可得到结果。<small>本站不保存您的种子文件，分析完后将立即删除。</small></p>
  	<form class="form-horizontal" action="/transfer/upload" enctype="multipart/form-data" method="post" id="b2mform">
		<div class="fileupload fileupload-new" data-provides="fileupload" style="margin:20px 0;">
		  <div class="input-append">
		    <div class="uneditable-input span3">
		    	<i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
		    </div>
		    <span class="btn btn-file">
		    	<span class="fileupload-new">选择种子文件</span>
		    	<span class="fileupload-exists">重新选择</span>
		    	<input class="text" type="file" name="upload_file" id="fileselect" onchange="checkFileType(this);">
		    </span>
		    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">移除</a>
		  </div>
		</div>
		<div class="control-group">
			<a href="javascript:submitform_b2m()" class="btn btn-primary" id="b2mbtn">点击转换为磁力链接</a>
		</div>
		<script type="text/javascript">
		function checkFileType(ths){
			if (ths.value == "") {
				alert("请选择上传.torrent文件");
				return false;
			} else {
				if (!/\.(torrent)$/.test(ths.value)) {
					alert("上传文件类型必须是.torrent文件");
					ths.value = "";
					return false;
				}
			}
			document.getElementById('uploadinput').innerText = ths.value
			return true;
		}
		function submitform_b2m(){
			if (document.getElementById('fileselect').value.length==0)
			{
				alert ("请选择上传.torrent文件");
				document.getElementById('fileselect').focus();
			}
			else
			{
				document.getElementById('b2mform').submit();
				document.getElementById('b2mbtn').innerText = "正在给力转换中，请稍等..."
			}
		} 
		function SelectAll(id)  
		{  
		    document.getElementById(id).focus();  
		    document.getElementById(id).select();  
		}
		</script>
	</form>
  </div>
</div>



<link href="{{url_for('static', filename='css/bootstrap-fileupload.min.css')}}" rel="stylesheet" media="screen">

<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=906036" charset="utf-8"></script>
{% endblock%}

{% block footjs %}<script src="{{url_for('static', filename='js/bootstrap-fileupload.min.js')}}"></script>{% endblock%}