{% extends "base.html" %}

{% block container %}
<iframe scrolling='no' frameborder='0' src='http://yibo.iyiyun.com/js/yibo404' width='735' height='700' style="display:block;"></iframe>
{% endblock%}

{% block footer %}
<footer class="footer navbar-fixed-bottom" style="text-align: center;padding: 10px 0 0 0;margin-top: 70px;border-top: 1px solid #E5E5E5;background-color:white;">
  	<div class="container">
  		<small>@2013 Powered by <a href="http://hackecho.com" target="_blank">Hackecho.com</a></small>
  		<p><small>本站所有资源信息均从互联网搜索而来，本站不对显示的内容承担责任。本站也不保存有任何可直接下载的文件。</small></p>
  	</div>
</footer>
{% endblock%}

